*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: #161616;
}

.catalogue__wrapper {
    margin: auto;
    margin-top: 25px;
    width: 1000px;
}

.catalogue__title {
    font-size: 64px;
    font-weight: 500;
}

.catalogue__body {
margin-top: 70px;

}

.catalogue__body__row{
    margin-bottom: 26.43px;
}

.catalogue__body__row a{
    margin-right: 47.17px;
    font-size: 14px;

}

.catalogue__btnCalc {
    margin-top: 84px;
    margin-left: 160px;
        width: 400px;
    height: 60px;
    font-size: 14px;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.slider__wrapper a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.slider__wrapper a:visited {
    color: black;
}

.slider__wrapper {
    margin: auto;
    margin-top: 150px;
    width: 1000px;
}

.slider__title {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 64px;
    font-weight: 600;
}

.slider__separator {
    height: 1px;
    width: 100%;
    margin-top: 150px;
    background-color: black;

}

.slider__separator_down {
    height: 1px;
    width: 1000px;
    background-color: black;
    margin-top: 70px;
}



.slider__buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
 margin: auto;
    margin-top: 70px;
}

.slider__buttons img {
    width: 60px;
    height: 60px;
}
.slider__buttons_right {
    margin-left: 50px;
}

.slider__row4 button {
    margin: auto;
    width: 400px;
    height: 60px;
    font-size: 14px;
    background-color: white;

}