* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: #161616;
}

.infoBlock__wrapper {
    margin: auto;
    margin-top: 112px;
    width: 1000px;
    height: 530px;
}

.infoBlock__title {
    width: 507px;
    height: 114;
    font-size: 48px;
    font-weight: 500;
}

.infoBlock__body {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 56px;
    margin: auto;
    margin-top: 70px;
}

.infoBlock__rowEl{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    width: 800px;
}

.infoBlock__rowEl img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.infoBlock__rowEl__item {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-bottom: 35px;
}

.infoBlock__smalltext {
font-size: 14px;
font-weight: 400;
}

.infoBlock__smalltext img {
 padding: 11px;

border: solid 1px;
    }