* {
    box-sizing: border-box;
}

.screen4__wrapper a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.screen4__wrapper a:visited {
    color: black;
}


.screen4__title {
    margin-top: 40px;
    font-size: 64px;
    font-weight: 600;
}



.screen4__separator_down {
    height: 1px;
    width: 950px;
    margin: auto;
    background-color: black;
    margin-top: 70px;
}

.screen4__button {
    margin: auto;
    margin-top: 70px;
    width: 200px;
}

.screen4__imgBlock {
    margin-top: 40px;
}

.screen4__img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;	 
 
}

.screen4__img2 {
    width: 600px;
}

.screen4__img2,
.screen4__img3 {
    width: 290px;
    height: 290px;
}

.screen4__img3 {
    margin-top: 10px;
}

.screen4__img4 {
    margin-left: 120px;
    margin-top: -20px;
    width: 600px;
}

.screen4__img5 {
    width: 399px;
    height: 750px;
}


.screen4__row3_block2 {
    margin-left: 200px;

}

.screen4__row3__text {
    width: 402px;
}

.screen4__img6 {
    margin-top: 160px;
    width: 402px;
    height: 503px;
}

.screen4__img7 {
    margin-left: 165px;
    width: 402px;
    height: 503px;
}

.screen4__row4 li {
    margin-top: 16px;
    list-style-type: disc;

}

.screen4__row4 ul {
    margin-top: 100px;
    height: 293px;
    width: 435px;
}

.screen4__row1 {
    margin: auto;
    width: 1000px;
}

.screen4__row2,
.screen4__row3 {
    margin-top: 150px;
}

.screen4__row2 {
    display: flex;
    flex-direction: row;
}

.screen4__row3 {
    display: flex;
    flex-direction: row;
}

.screen4__row4 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.screen4__button img {
    width: 200px;
    height: 60px;
}

.screen4__row4 button {
    margin-top: 97px;
    width: 400px;
    height: 60px;
    font-size: 14px;
    background-color: white;

}