* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: black;
}

.prefooter__wrapper {
    width: 1600px;
    margin: auto;
    margin-top: 150px;


}

.prefooter__body{
    margin-left: 750px;

}

.prefooter__text {
    width: 600px;
    font-size: 48px;

}

.prefooter__icons img {
    width: 48px;
    height: 48px;
    margin-right: 40px;
    margin-top: 131px;
}