* {
    box-sizing: border-box;
}

.footer__wrapper a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.footer__wrapper a:visited {
    color: white;
}

.footer__wrapper {
    width: 1600px;
    margin: auto;
    margin-top: 150px;
    background-color: black;
    color: white;
    font-size: 14px;
    height: 323px;
}

.footer__body {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
    width: 1200px;

}

.footer__logo {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    height: 55.6px;
}

.footer__logo img {
    position: relative;
    margin-top: 15px;
    width: 45px;
    height: 45px;
}

.footer__logo__separator {
    margin-top: 11px;
    background-color: white;
    width: 2px;
    height: 60px;
    margin-left: 5px;

}

.footer__logo__name {
    margin-top: 9px;
    padding-left: 15px;
    line-height: 25px;

}

.footer__body_column_left {
    padding-left: 15px;
    margin-right: 145px;
}

.footer__body_column {
    margin-top: 30px;
    margin-right: 74px;
}

.footer__body_column_title {
    display: flex;
    flex-direction: row;
}



.footer__body__line {
    height: 1px;
    width: 32px;
    margin-top: 7px;
    margin-right: 14px;
    background-color: white;
}

.footer__body_column1__text {
    margin-top: 38px;
    width: 400px;
    height: 51px;
    line-height: px;

}

.footer__body__column_text {
    margin-top: 40px;
    line-height: 33px;

}

.footer__separator {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    width: 1200px;
    height: 1px;
}

.footer__footer {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 1200px;
    margin: auto;
}

.footer__copyright{
    width: 209px;
    margin-right: 330px;
}

.footer__rules {
    width: 210px;
    margin-left: 24px;
}